/*for error bar*/
.error{
	font-size: 20px;
	font-style: italic;
	color: red;
	border-color:red;
	border-style:double;
	border-radius: 7px;
	background-color: #ffe6e6;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 95%;
	text-align:left;
	
}
/* for login page */
.page-header h1{
	letter-spacing: 5px;
	text-decoration: none !important;
	color: #3c948b;
	font-weight: 700;
	padding-left: 20px;
	
}

/* Styling for the navbar on all pages */
.CPCA_navbar{
	background-color: #3c948b;
	padding:10px;
	font-size: 20px;
	/* makes the navbar look more like the wireframe */
}

	/* Styling for the navbar anchors on all pages */
	.CPCA_navbar a{
		color: white !important;
	}

	/* Styling for the navbar unordered list elements on all pages */
	.CPCA_navbar ul li a:hover{
		color: #00d0ff !important;
		-webkit-transition-duration: 0.4s;
    	transition-duration: 0.4s;
	}

	/* Navbar links styling */
	.navbar-collapse{
		font-weight: 900;
	}

	/* The styling for the left most element in the navbar that tells the user*/
	/* what page they are currently on */
	.navbar-brand{
		font-weight: 700;
		font-size: 22px;
	}

		/* On mouse hover styling for the above element */
		.navbar-brand:hover{
			color: white !important;
			cursor: default; !important;
		}

/* Styling for Home button for each page "CPCA" top most element */
.page-header h1{
	margin-top: -22px;
	font-size: 55px;
}

/* Styling for the anchor of the elemnt in page-header  */
.home-button{
	letter-spacing: 5px;
	text-decoration: none !important;
	color: #3c948b;
	font-weight: 700;
	padding-left: 20px;
	text-shadow: -.5px 0 black, 0 -.5px black, -.5px 0 black, 0 -.5px black;
}

	/* On hover styling for home button "CPCA" */
	.home-button:hover{
		color: #00d0ff;
		-webkit-transition-duration: 0.4s;
    	transition-duration: 0.4s;
	}

/* Div containing the img of the logo for CPCA */
.logo{
	padding-top: 50px;
	background-color: transparent;
}


/* Styling for jumpotron div that contains the reports, searches, admin tools,*/
/* and intake packets*/
.jumbotron{
	border-radius: 12px;
	background-color: #e1e1e1;
	box-shadow: 10px 10px 5px #888888;
}

	/* Styling for buttons within jumbotron div*/
	.jumbotron button{
		border-color: #3c948b;
		color: #333;
		font-weight: 900;
		background-color: white;
	}

		/* On hover jumbotron button styling */
		.jumbotron button:hover{
			color: white;
			font-weight: 700;
			-webkit-transition-duration: 0.4s;
	    	transition-duration: 0.4s;
		}

		/* Styling of the anchors within each button */
	.jumbotron a{
		text-decoration: none;
		font-weight: 700;
		color: #333;
	}

/* Login panel jumbotron styling in index.php*/
.login_panel{
	background-color: #e1e3e4;
	box-shadow: 10px 10px 5px #888888;
	width: 60% ;
    margin-left: auto ;
    margin-right: auto ;
	/*for the jumbotron container */

}

/* Styling for wrapper within login panel */
.login_wrapper{
	text-align:center;
	width:70%;
	margin-left: 10% ;
  margin-right: auto ;

	/*for the login form */
}

	/* Styling for the labels within the login panel on index.php page*/
	.label{
		background-color: #666 !important;
	}

	/* Button inside of the login panel on index.php */
	.btn{
		border-radius: 12px;
		background-color: white;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	}

	/* On hover button style for above element*/
	.btn:hover{
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
		background-color: #00a0ff;
		-webkit-transition-duration: 0.4s;
    	transition-duration: 0.4s;
	}


/* Styling for the checkboxes in attendance form */
#checkbox1 {
		float: left;
		padding-right: 7px;
	}

#checkbox2 {
		float: left;
		padding-right: 7px;
	}
#checkbox3 {
		float: left;
		padding-right: 7px;
	}


	.checkbox a{
		font-weight: 700;
	}




/* for homepage */
/* contains homepage buttons and anchors for reporting, attendeance, searches */
/* , intake packet, refferal form, and admin tools*/
.launcher{
	height:300px;
	margin-right: 5%;
	text-align:center;



}


/* button types for launcher */
.launcher-links{

	width:70%;

	height:70px;
}


/* links within launcher */
.homepage-links{
	padding-bottom:5%;



}

/* container div for the course options */
.courses-launcher{
	height:450px;
	margin-right: 5%;
	text-align:center;
	padding-top:0px;

}




/* Buttons within the course container div */
.course-launcher-links{

	width:70%;


	height:70px;
}

/* for search */
.search{

	text-align:center;

}

/* for search */
.search-links{


	position: fixed;
    bottom: 0;
    width: 100%;
	padding-bottom:50px;
	margin-left: 1%;


}

/* for search */
.search-results{

	padding-bottom:20px;


}

.admin-courses{
	padding-bottom:20px;


}

/* Admin Tools page css*/
.course-launcher-links{
	border-color: #3c948b;
	margin-bottom: 10px;
}

	.course-launcher-links a{
		font-weight: 700;
		text-decoration: none !important;
		color: #333;
	}

	.course-launcher-links button{
		border-color: #3c948b;
	}

	.course-launcher-links:hover{
		color: white !important
	}

#adminChangeCourseButton{
	margin-right: 700px;
}

/* col-md-12 placement div on logout page*/
.logout-placeholder-div{
	text-align: center;
	margin-top: 100px;
}

/* contains logout button in log-out.php*/
.logout-div{
	margin: 0 auto;
	margin-top: 20px;
	margin-left: -10px;
}

	/* Log-out.php styling */
	#logout-button{
		text-align: center;
		margin: 0 auto;
		border-color: #3c948b;
		font-weight: 900;
	}

/* Row that holds tool options */
.row{
	text-align: center;
}

/* Buttons on bottom of participant search page*/
.participant-result-names{
	text-align: center;
}

.participant-result-names{
	font-weight: 700;
	margin-top: 200px;
	text-decoration: none !important;
	color: #333 !important;
}

.participant-result-names button{
	border-color: #3c948b;
}

/* For Attendance */
#attendanceRow {
	padding-bottom: 50px;
}

/*For Generated Reports*/
#reportSelect1{
	width: 59%;
	margin-top: 10px;
	margin-right: 20px;
}

#reportSelect2{
	width: 59%;
	margin-top: 10px;
	margin-right: 20px;
}

#reportSelect3{
	width: 59%;
	margin-top: 10px;
	margin-right: 20px;
}

.form-group label{
	float:left;
	
}

/* These from here on are bug fixes */

/* Curriculum name dropdown, admin-tools.php */
#curriculumName{
	margin-top: -8px;
}

/* Submit button in class-scheduler.php*/
#class-submit-button{
	margin-top: 23px; 
}

/* Two Homepage buttons in jumbolaunchr */
.top-homepage-buttons{
	margin-left: 132px;

}

/* Curriculum name label in report-card.php*/
#curriculumName-report-card{
	margin-top: 11px;
}

/* Report-card-instructor.php margining for select class button*/
#submit-instructor-report-card{
	margin-top: 10px;
	margin-left: 95px;
}

/* Centering of forgot password on index.php */
#forgot-password{
	margin-left: 65px;
}