
/* for login page */

.CPCA_navbar{
	
	padding:10px;	
	/* makes the navbar look more like the wireframe */
}

.login_panel{
	
	width: 60% ;
    margin-left: auto ;
    margin-right: auto ;
	/*for the jumbotron container */
	
}

.login_wrapper{
	text-align:center;
	width:70%;
	margin-left: 10% ;
    margin-right: auto ;
	
	/*for the login form */
}



/* for homepage */







  
.launcher{
	height:300px;
	margin-right: 5%;
	text-align:center;
	
	
	
}



.launcher-links{
	
	width:70%;
	
	height:70px;
}



.homepage-links{
	padding-bottom:5%;
	
	
}

.courses-launcher{
	height:400px;
	margin-right: 5%;
	text-align:center;
	padding-top:0px;
	
}



.course-launcher-links{
	
	width:70%;
	
	
	height:70px;
}

/* for search */

.search{
	
	text-align:center;
	
}

.search-links{
	
	
	position: fixed;
    bottom: 0;
    width: 100%;
	padding-bottom:50px;
	margin-left: 1%;
	
	
}


.search-results{
	
	padding-bottom:20px;
	
	
}








