.CPCA_navbar{
	
	padding:10px;
	
}

.login_panel{
	
	width: 60% ;
    margin-left: auto ;
    margin-right: auto ;
	
	
}

.login_wrapper{
	text-align:center;
	width:70%;
	margin-left: auto ;
    margin-right: auto ;
	
	
}