body{
	overflow:auto;
}
#header{
text-align:center;
font-weight:bold;
width:max;
height:50%;	
margin-top:-20px;
padding: 50px;
position:relative;
background-image: linear-gradient(#3c948b,#3c948b);
}
#titleImage{
width: 300px;
height:200px;
position:absolute;
left:5px;
top:0%;
}
#footer{
font-size: 12px;
color: grey;
text-align: center;	
}
#container{
width:max;
height: auto;
text-align:left;	
}

input{
	color:black;
	margin: max;
	position:relative;
	margin-right: 3%;
}
label{
	width:8%;
}

.glyphicon-minus{
	margin-left: 10px;
	
}
.glyphicon-plus:hover{
	color:lightgreen;
	cursor: pointer;
}	
.glyphicon-minus:hover{
	color:red;
	cursor: pointer;
}